*.csv
*.DS_Store
*.pkl
ExploringStuff
data
Prediction_Models/models
Prediction_Models/other_models_to_compare/LTSF-Linear-main/checkpoints
*.pt
*.pyc
*.txt
# except requirements.txt
!requirements.txt
Prediction_Models/other_models_to_compare/Preformer-main